doctype html
html
  include ./includes/head.jade
  
  body
    include ./includes/nav.jade
    
    block content
    
    //script(src='javascripts/jquery-1.11.2.min.js')
    script(src='javascripts/bootstrap.min.js')
    script(src='javascripts/bootstrap-datepicker.js')
    script(src='javascripts/tender.js')