// navigator
nav(class="navbar navbar-inverse navbar-fixed-top")
  .container-fluid
    .navbar-header
      button(type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar")
        span(class="sr-only") Toggle navigation
        span(class="icon-bar")
        span(class="icon-bar")
        span(class="icon-bar")
      a(class="navbar-brand", href="#") База Данных

    #navbar.collapse.navbar-collapse
      ul.nav.navbar-nav
        li.active
          a(href="#") Home
        li
          a(href="#about") About
        li
          a(href="#contact") Contact
div(style="height: 50px; width: 100%")
  