// Жаңа проект ашу
form.form-horizontal(action="/",method="post")
	.form-group
		label.col-sm-2.col-lg-2.control-label Сатып алудың атуы
		.col-sm-10.col-lg-10
			input(name="projname",type="text").form-control
	.form-group
		label.col-sm-2.col-lg-2.control-label Ұйымдастырушы
		.col-sm-10.col-lg-10
			input(name="client",type="text").form-control
			
	.form-group
		label.col-sm-2.control-label Лоттардың саны
		.col-sm-1
			input(name="qtylots",type="text").form-control
			
		label.col-sm-1.control-label Соммасы
		.col-sm-3
			.form-inline.input-group
				.input-group-addon $
				input(name="sum",type="text").form-control
				
		label.col-sm-2.control-label Өткізу тәсілі
		.col-sm-3
			select.form-control(name="method")
				option Ашық байқау
				option Баға ұсынсы
				option Бір көзден
				option СЭЗ
				
	.form-group
		label.col-sm-2.control-label Мәртебесі
		.col-sm-3
			select.form-control
				option Опубликован
				option Вскрытие
				option Допуск
				option Итоги
				option Завершен
				option Отменен
				
		label.col-sm-2.control-label Қабылдау мерзімі
		.col-sm-2
			input(type="text").datepicker.form-control
				
	.form-group
		p.col-sm-offset-10.col-md-offset-11.col-sm-2.col-md-1
			button(type="submit").btn.btn-default Келесі